DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=smart_queue
DB_PORT=3306

JWT_SECRET=your_super_secret_jwt_key_here_min_32_characters
PORT=4000
FRONTEND_URL=http://localhost:3000

MAIL_FROM=menendangdengantangan@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=menendangdengantangan@gmail.com
SMTP_PASS=pszgjwfmbdnweoyq
